* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Acá tengo estilos generales */

.imagen-container {
    display: flex;
}

.imagen-container img {
    width: 100%;
}

/* Acá tengo los estilos del header */

header {
    background-color: grey;
    padding: 10px 50px;
}

#logo {
    width: 50px;
}

#logo img {
    border-radius: 100%;
    border: 2px solid white ;
}

/* Acá estan los estilos del hero */

#hero {
    position: relative;
}

#hero #computadora {
    display: inline-block;
    width: 100%;
}

#hero .informacion-contenedor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: white;
    padding: 0 50px;
}

#hero .informacion-contenedor #foto {
    width: 200px;
}

#hero .informacion-contenedor #foto img {
    border-radius: 100%;
} 

#hero .informacion-contenedor .informacion {
    margin-left: 20px;
    font-weight: bold;
    width: calc(100% - 200px);
}

#hero .informacion-contenedor .informacion span {
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}

/* Estilos del main */

main {
    padding: 100px;
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li {
    margin-left: 8px;
}

main .social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}


main .social-icons #LinkedIn{
    background: rgb(79, 234, 255);
}

main .social-icons #GitHub{
    background-color: rgb(196, 196, 196);
}

main .social-icons #Twitter{
    background: rgb(36, 92, 247);
}

main .social-icons #YouTube{
background-color: rgb(160, 0, 0);
}